body{
  background-image: url("./assets/pngtree-corporate-culture-employee-style-poster-background-material-image_125216.jpg");
  background-size: cover;
  background-position: center;
  color: #ffff;
  height: 100vh;
}